/* 
Full Screen Gallery Slider CSS
Version: 0.1
*/
.fs_gallery_container {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.fs_gallery_container.fade {
	opacity: 1!important;
}
.fs_gallery_container.fade li,
.fs_gallery_container li {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
	display:block;	
	opacity: 0;
	background-position:center!important;

	transition: opacity 1500ms;
	-webkit-transition: opacity 1500ms;
}
.fs_gallery_container.fade li.current-slide,
.fs_gallery_container li.current-slide {
	opacity: 1;
}

.fs_gallery_container.zoom li {
	-ms-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.5);

	transition: opacity 1000ms, transform 1000ms;
	-webkit-transition: opacity 1000ms, -webkit-transform 1000ms;
}
.fs_gallery_container.zoom li.current-slide {
	opacity: 1;

	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}

.fs_gallery_container.slide_left li {
	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);

	transition: opacity 1000ms, transform 1000ms;
	-webkit-transition: opacity 1000ms, -webkit-transform 1000ms;
}
.fs_gallery_container.slide_right li {
	-ms-transform: translate(50%, 0);
	-webkit-transform: translate(50%, 0);
	transform: translate(50%, 0);

	transition: opacity 1000ms, transform 1000ms;
	-webkit-transition: opacity 1000ms, -webkit-transform 1000ms;
}

.fs_gallery_container.slide_top li {
	-ms-transform: translate(0, -100%);
	-webkit-transform: translate(0, -100%);
	transform: translate(0, -100%);

	transition: opacity 1000ms, transform 1000ms;
	-webkit-transition: opacity 1000ms, -webkit-transform 1000ms;
}
.fs_gallery_container.slide_bottom li {
	-ms-transform: translate(0, 100%);
	-webkit-transform: translate(0, 100%);
	transform: translate(0, 100%);

	transition: opacity 1000ms, transform 1000ms;
	-webkit-transition: opacity 1000ms, -webkit-transform 1000ms;
}

.fs_gallery_container.slide_top li.current-slide,
.fs_gallery_container.slide_bottom li.current-slide,
.fs_gallery_container.slide_left li.current-slide,
.fs_gallery_container.slide_right li.current-slide {
	opacity: 1;

	-ms-transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);

	transition: opacity 1000ms, transform 1000ms;
	-webkit-transition: opacity 1000ms, -webkit-transform 1000ms;
}

/*Buttons*/
.fs_slider_prev,
.fs_slider_next {
	width:60px;
	height:60px;
	display:block;
	position:fixed;
	top:50%;
	margin-top:-113px;
	z-index:99;
	opacity: 0;

	transition:opacity 400ms;
	-webkit-transition:opacity 400ms;
}
.header2top .fs_slider_prev,
.header2top .fs_slider_next {
	margin-top:-40px!important;
}
.fs_gallery_wrapper:hover .fs_slider_prev,
.fs_gallery_wrapper:hover .fs_slider_next {
	opacity: 0.4;
}
.fs_slider_prev {
	left:50px;
	background:url(../img/frame_buttons.png) no-repeat -200px 0;
}
.fs_slider_next {
	right:50px;
	background:url(../img/frame_buttons.png) no-repeat -260px 0;
}
.fs_gallery_wrapper:hover .fs_slider_prev:hover,
.fs_gallery_wrapper:hover .fs_slider_next:hover {
	opacity:0.7;
}

/*Caption*/
.fs_title_wrapper {
	position:fixed;
	bottom:79px;
	width:400px;
	left:0;
	padding:15px 20px 18px 20px;
	border-right:8px solid;
	
	transition: left 400ms;
	-webkit-transition: left 400ms;
}
.header2top .fs_title_wrapper {
	bottom:0px;
}
.fs_title_wrapper.change {
	left:0;
}
.fs_title_wrapper h1 {
	font-size:20px;
	line-height:26px;
	font-weight:300;
	text-transform:uppercase;
	margin:0;
	font-family:'Open Sans', sans-serif!important;
	text-align:left;
}
.fs_title_wrapper h6 {
	margin:-1px 0 0 0;
	font-weight:normal;
	text-transform:none;
	font-size:16px;
	line-height:18px;
	font-family:'Open Sans', sans-serif!important;	
	text-align:left;
}

/*thmb*/
.fs_thmb_viewport {
	position:fixed;
	display:block;
	bottom:79px;
	right:0;
	width:100%;
	height:88px;
	overflow-x:hidden;
	z-index:99;

	transition:margin-bottom 400ms;
	-webkit-transition:margin-bottom 400ms;
}
.header2top .fs_thmb_viewport {
	bottom:0px;
}
.fs_thmb_wrapper {
	position:relative;
	overflow:hidden;
	height:88px;
	display:block;
}

.fs_thmb_viewport .fs_thmb_list {
	position:absolute;
	left:0;
	top:0;
	height:88px;
}

.fs_thmb_viewport .fs_thmb_list li {
	display:inline-block;
	float:left;
	width:88px;
	height:88px;
	cursor:pointer;
	position:relative;
}
.fs_thmb_viewport .fs_thmb_list li  .fs_thmb_fadder {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display:block;
	opacity: 0;

	transition:opacity 400ms;
	-webkit-transition:opacity 400ms;
}
.fs_thmb_viewport .fs_thmb_list li.current-slide .fs_thmb_fadder {
	opacity: 0.3;
}
.fs_thmb_viewport .fs_thmb_list li:hover .fs_thmb_fadder {
	opacity: 0.5;
}

.thumb_toggle a {
	width:18px;
	padding:26px 0;
	margin-left:4px;
	height:17px;
	background:url(../img/btn_menu.png) no-repeat center;
}

.fs_title_wrapper.fs_hide {
	left:-458px!important;
}
.fs_thmb_viewport.fs_hide {
	margin-bottom:-167px!important;
}
.header2top .fs_thmb_viewport.fs_hide {
	margin-bottom:-88px!important;
}
@media only screen and (max-width: 760px) {
	.fs_thmb_viewport {
		display:none;
	}
	.fs_title_wrapper {
		bottom:0px!important;
	}
	.thumb_toggle {
		display:none;
	}
	
}
@media only screen and (min-width: 460px) and (max-width: 760px) {
	.fs_title_wrapper { 
		width:432px;
	}
}
@media only screen and (max-width: 459px) {
	.fs_title_wrapper { 
		width:272px;
	}
	.fs_title_wrapper h1 {
		font-size:28px;
		line-height:30px;
	}
	.fs_title_wrapper h6 {
		font-size:13px;
		line-height:15px;	
	}
}